Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
